[package]
name = "metrique-aggregation"
version = "0.1.0"
edition = "2024"
rust-version = "1.89" # build.yml

[dependencies]
metrique-writer = { path = "../metrique-writer", version = "0.1.9"}
metrique-core = { path = "../metrique-core", version = "0.1.9"}
smallvec = "1.13"
histogram.workspace = true

[dev-dependencies]
metrique = { path = "../metrique", features = ["test-util"] }
divan = "0.1"
rand.workspace = true
rand_chacha.workspace = true
assert2 = "0.3"
rstest = "0.23"

[[bench]]
name = "aggregation"
harness = false
