name: Build
on: [pull_request]
permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          # MSRV history:
          # 1.86 - trait upcasts (required)
          # 1.87 - `extend_from_string`
          # 1.88 - darling 0.23
          # 1.89 - required since 1.88 does not work in trybuild
          - "1.89.0" # Current MSRV
          - stable
          - nightly
        flags:
          - "--all-features"
          - "--no-default-features"
    env:
      RUST_BACKTRACE: 1
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/rust-build
        with:
          toolchain: ${{ matrix.toolchain }}
          flags: ${{ matrix.flags }}

  docs-rs:
    name: Docs.rs Build Check
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref, 'release-') }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: dtolnay/install@cargo-docs-rs
      - name: Check docs.rs build
        run: ./scripts/check-docsrs.sh
